.time {
  letter-spacing: -0.083705px;
  font-size: 8rem;
}

.date {
  font-size: var(--s-dock);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.accent {
  color: var(--c-energy);
}

.card-sup {
  color: var(--c-alice);
}
