.album {
  height: 355px;
  position: relative;
  margin: 0 60px 60px 0;
  animation: 0.3s ease-in-out both fade-in;
}

.teaser {
  transform: rotate(90deg);
  font-size: 20px;
  position: absolute;
  top: 164px;
  right: -190px;
  width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  letter-spacing: 1px;
}

.category {
  display: inline-block;
  background-color: var(--c-secondary);
  color: var(--c-light-primary);
  padding: 9px;
  font-size: 9px;
}

.sub {
  background-color: #fffba8;
}
