.details {
  justify-content: space-between;
}

.title {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: 0.05em;
  margin-bottom: 10px;
}

.info {
  padding: 15px 10px;
  justify-content: space-between;
  background-color: #eee4fb;
}

.name {
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: var(--c-light-primary);
}

.logo {
  height: 355px;
  min-width: 342px;
  transition: 0.3s;
}

.logo:hover {
  filter: contrast(0.8) brightness(1.15);
}
