.col {
  flex-direction: column;
}

.nav {
  padding-bottom: 34px;
  margin-bottom: 3px;
}

.drop {
  visibility: visible;
}

.dropdown {
  font-size: 1.2rem;
}

.dropdown li:hover,
.dropdown li:focus {
  background-color: var(--c-secondary);
}

.drop:hover .tag {
  background-color: var(--c-secondary);
}

.tag {
  font-size: 1.4rem;
  margin: 1px 1px 1px 0;
  position: relative;
}

.legend {
  display: inline-block;
  padding: 1rem;
}

.arrow {
  border: solid var(--c-light-primary);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transition: transform 0.2s;
}

.down {
  transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
}

.hacking {
  margin-top: 0.8rem;
  background-size: cover;
  background-position: center;
}

.burger {
  display: none;
  background-color: var(--c-secondary);
  padding: 8px;
}

.bar1,
.bar2,
.bar3 {
  width: 20px;
  height: 2px;
  background-color: var(--c-dark-background);
  transition: 0.4s;
}

.bar2,
.bar3 {
  margin-top: 4px;
}

.change {
  margin: 16px 0 11px;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-3px, -4px);
}

.mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0 1.6rem;
  background-color: var(--c-dark-primary);
}

.hide {
  visibility: visible;
  margin-left: -1rem;
  color: var(--c-light-primary);
}

@media screen and (max-width: 414px) {
  .burger {
    display: inline-block;
  }

  .drop {
    display: none;
  }
}
