* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.border {
  border-bottom: 1px solid #bcbbc1;
}

.flex {
  display: flex;
}

.main {
  font-size: 34px;
  letter-spacing: 0.0120588em;
  font-weight: bold;
}

.container {
  flex-wrap: wrap;
}

.content {
  padding: 16px;
}

.day {
  margin-bottom: 8px;
}

.header {
  flex-direction: column;
}

.search {
  border: none;
  outline: none;
  margin: 16px 0;
}

.details {
  margin-bottom: 30px;
  padding: 18px 20px;
  flex-grow: 1;
  animation: 0.3s ease-in-out both fade-in;
}

.title {
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.0121429em;
  text-transform: capitalize;
  margin-bottom: 28px;
}

.space {
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  text-transform: uppercase;
  color: #ff2d55;
}

.btn {
  background: #007aff;
  border-radius: 23px;
  border: none;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  padding: 8px 20px 6px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
}

.suggestions {
  list-style-type: none;
  background: #fff;
  border-radius: 10px;
}

.item {
  font-size: 20px;
  color: #ff2d55;
  padding: 15px 12px;
  cursor: pointer;
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
