html {
  font-size: 62.5%;
  letter-spacing: 0.06em;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
}

.content {
  padding: 16px;
}

.day {
  margin-bottom: 8px;
}

.case {
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.main {
  font-size: 34px;
  padding: 0.2em 0.4em;
  background-color: var(--c-secondary);
  color: var(--c-light-primary);
}

.container {
  flex-wrap: wrap;
  margin-top: 16px;
}

.search {
  padding: 1.5em;
  background-color: #ffcccc;
  width: 115px;
  color: var(--c-light-primary);
}

.search:hover {
  background-color: #ffbbbb;
}

.filters {
  position: absolute;
  z-index: 10;
  user-select: none;
}

.space {
  justify-content: space-between;
  align-items: center;
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: rotate 1s infinite linear;
}

.control {
  background: var(--c-light);
  font-size: 17px;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
