.cookieConsent {
  width: 50% !important;
  left: auto !important;
  right: 0;
}

.cookieConsent > div {
  flex: 0 !important;
  margin: 28px 15px 0 15px !important;
  letter-spacing: 0.2em;
}

.item {
  width: 25%;
}

@media screen and (max-width: 375px) {
  .cookieConsent {
    width: 100% !important;
  }

  .item {
    width: 100%;
  }
}
