.CookieConsent {
  width: 50% !important;
  left: auto !important;
  right: 0;
}

.CookieConsent > div {
  flex: 0 !important;
  letter-spacing: 0.2em;
}

.item {
  width: 25%;
}

@media screen and (max-width: 414px) {
  .CookieConsent {
    width: 100% !important;
  }

  .item {
    width: 100%;
  }
}
