table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 1.2rem;
}

table th {
  color: #30293b;
  text-align: left;
  padding: 10px 10px 0;
}

table td {
  padding: 1rem;
}

.buy {
  background-color: var(--c-light-primary);
  color: var(--c-dark-primary);
  line-height: 1;
  padding: 10px;
  width: 100%;
}

.price {
  font-size: 4rem;
}

.currency {
  font-size: 2rem;
  margin-right: 2px;
  vertical-align: super;
  align-self: flex-start;
}
