table {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-collapse: collapse;
  table-layout: fixed;
}

table th {
  color: rgba(0, 0, 0, 0.45);
  text-align: left;
  padding: 10px 10px 0;
}

table td {
  padding: 10px;
}

.label {
  margin: 18px 0 9px;
}

.buy {
  background-color: var(--c-light-primary);
  color: var(--c-dark-primary);
  line-height: 1;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

.price {
  font-size: 4rem;
}

.currency {
  font-size: 2rem;
  margin-right: 2px;
  vertical-align: super;
  align-self: flex-start;
}
