.details {
  grid-template-columns: repeat(2, 1fr);
}

.brands {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 414px) {
  .details {
    grid-template-columns: 1fr;
  }

  .brands {
    grid-template-columns: repeat(2, 1fr);
  }
}
